@import '../var/index-var';
header {
    height: 100vh;
    width: 100%;
    background: #333;
    position: relative;
    nav {
        height: 10%;
        background: #fff;
        ul {
            height: 100%;
            background: red;
            width: 40%;
            float: right;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            li {
                font-size: 1.5em;
                cursor: pointer;
            }
        }
    }
    #boule1 {
        height: 400px;
        width: 400px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        right: -100px;
        margin-top: 100px;
    }
    section {
        height: 30%;
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-top: 25vh;
        color: $font-color1;
        h1 {
            font-size: 4em;
            font-weight: 800;

        }
        #barre-title {
            width: 200px;
            height: 5px;
            background: #fff;
        }
        h4 {
            font-size: 2em;
            font-weight: 300;
        }
    }
    #boule2 {
        height: 600px;
        width: 600px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: -200px;
    }
    #scroll-container{
        height: 100px;
        width: 100px;
        margin: auto;
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        #mouse {
            height: 60px;
            width: 40px;
            background: #000;
            border-radius: 18px;
            &::after {
                content: "";
                display: block;
                height: 10px;
                width: 10px;
                background:  #fff;
                border-radius: 50%;
                margin: auto;
                margin-top: 10px;
            }
        }
    }
}