@keyframes move {
    from {
        transform: scale(1.645) translate3d(0px, 0px, 0px);
        opacity: 0.85;
    }

    50% {
        transform: scale(2.5) translate3d(calc(var(--i)*2.5vh), calc(var(--i)*1vh), 0px);
        opacity: 1;
    }

    to {
        transform: scale(1.645) translate3d(0px, 0px, 0px);
        opacity: 0.85;
    }
}