$background : linear-gradient(185.38deg, #FBAB7E 0%, #F7CE68 100%);
$background-invert: linear-gradient(185.38deg,
#F7CE68 0%,
#FBAB7E 100%);

$font-color1 : #fff;
$font-color2 : #333;
$font-color3 : #fd7317;
