@media print {

    body {
        height: 50vh;
    }

    header {
        display: none;
    }

    footer {
        display: none;
    }

    #projects-container {
        display: none;
    }

    #cv-container {
        img {
            position: absolute;
            top: 10;
        }

        aside {
            display: none;
        }
        
    }

    #contact-form {
        display: none;
    }
}